@import "./../../style/common.scss";

@keyframes doggo {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.doggo {
  position: absolute;
  width: 100px;
  height: 72px;
  overflow: hidden;
  z-index: 99;

  .doggo_img {
    animation: doggo 0.7s steps(10) infinite;
    height: 72px;
    max-width: auto;
  }
}

.stats {
  &.stats-active {
    z-index: 101;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 5px #fff;
  }
}
.mile {
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
  text-align: center;
  &.mile1 {
    h1 {
      font-size: 2rem;
    }
  }
  &.mile2 {
    .food-container {
      padding-bottom: 30px;
      justify-content: space-around;
      width: 100vw;
      display: flex;
      .legend {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.5rem;
        img {
          height: 40px;
          margin-right: 10px;
          width: auto;
        }
      }
      .obstacles {
        img {
          height: 70px;
        }
      }
    }
  }
}

@media(min-width: 1050px){
  .mile{
    padding: 50px;
    &.mile2{
      .food-container{
        padding-bottom: 100px;
        .legend{
          font-size: 2rem;
          img{
            height: 60px;
            margin-right: 20px;
          }
        }
        .obstacles{
          img{
            height: 100px;
          }
        }
      }
    }
  }
}
