@import '../../style/common.scss';

.bg-container{
    position: relative;
    height: 375px;
}
  
@keyframes moving-img {
  0%{left: 0;}
  50%{left: -99999px;}
  100%{left: 0;}
}

.layer{
  height: calc(100% - 30px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &.layer-04{
    
    animation: moving-img 20000s linear infinite;
  }
  &.layer-03{
    animation: moving-img 10000s linear infinite;
  }
  &.layer-02{
    animation: moving-img 6000s linear infinite;
  }
  &.layer-01{
    animation: moving-img 3000s linear infinite;
  }
  .bg{
    background-size: contain;
    height: 100%;
  }
  .bg-04{
    background: url('../../assets/images/04-layer.png') repeat-x;
  }
  .bg-03{
    background: url('../../assets/images/03-layer.png') repeat-x;
  }
  .bg-02{
    background: url('../../assets/images/02-layer.png') repeat-x;
  }
  .bg-01{
    background: url('../../assets/images/01-layer.png') repeat-x;
  }
  
}

.street{
  background-color: $yellow;
  height: 30px;
  width: 100vw;
  position: absolute;
  bottom: 0;
}