.login, .signup{
    grid-template-columns: repeat(2, 1fr);
    section{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1{
        font-size: 26px;
    }
    .cover-login{
        width: 40vw;
    }
    .btn{
        margin-top: 15px;
    }
}

.alertActive{
    color: red;
    font-size: 12px;
}

@media(min-width: 1050px){
    .login, .signup{
        h1{
            font-size: 55px;
        }
    }
}