@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

$yellow: #ffcd4f;
$orange: #ee7823;
$red: #da5013;
$purple: #413c58;
$grey: #71697a;

$julius: "Julius Sans One", sans-serif;
