@import '../../style/common.scss';

.result{
    grid-template-columns: 3fr 1fr;
    background-color: $red;
    color: #fff;
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .btn.tertiary{
        color: rgba(255, 255, 255, 0.7);
    }
}

section.section-cat{
    justify-content: flex-end;
    .cat-game-over{
        width: 30vw;
        margin-bottom: -20px;
    }
}

.yellow-marker{
    background-color: $yellow;
    padding: 5px 10px;
    color: #000;
}

.button-container{
    display: flex;
    .btn{
        margin: 10px;
    }
}

@media(min-width: 1050px){
    section.section-cat{
        .cat-game-over{
            margin-bottom: -50px;
        }
    }
}