@import './style/common.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
}

ul,
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  height: auto;
}

body, button, input{
  font-family: $julius;
}
.app{
  overflow: hidden;
  height: 100vh;
}

.home, .login, .signup, .result, .leaderboard{
  display: grid;
  padding: 20px;
  section{
    display: flex;
    min-height: calc(100vh - 40px);
  }
}

h1{
  font-size: 50px;
}

@media(min-width: 1050px){
  *{
    font-size: 1.2rem;
  }

  .home, .login, .signup, .result, .leaderboard{
    padding: 50px;
    section{
      min-height: calc(100vh - 100px);
    }
  }
  
  h1{
    font-size: 100px;
  }
}